<html>

<body background="hypnotoad.webp">

<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<table id="customers">
  <tr>
    <th>Line</th>
    <th>Von</th>
    <th>Nach</th>
     <th>Status</th>
  </tr>

  <tr>
    <td>{{ line }}</td>
    <td>{{ start }}</td>
    <td>{{ end }}</td>
    <td>{{ time }}</td>
  </tr>

  <tr>
    <td>{{ line2 }}</td>
    <td>{{ start2 }}</td>
    <td>{{ end2 }}</td>
    <td>{{ time2 }}</td>
  </tr>

  <tr>
    <td>{{ line3 }}</td>
    <td>{{ start3 }}</td>
    <td>{{ end3 }}</td>
    <td>{{ time3 }}</td>
  </tr>


</body>
</html>
